{% extends "layouts/user/main.twig" %}
{% block styles %}
    <link rel="stylesheet" href="/css/calendar.css">
{% endblock %}
{% block scripts %}
    <script src="/js/calendar.js"></script>
    <script>
        var calendar = $("#calendar").calendar(
                {
                    tmpl_path: "/tmpls/",
                    //events_source: function () { return []; }
                    events_source: '/home/schedule'
                });
    </script>
{% endblock %}
{% block content %}
    <div id="calendar"></div>
{% endblock %}