{% extends "layouts/user/main.twig" %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h2>{{ schedule.study.title }}</h2>
            <h3>Время: {{ schedule.getFormatedDate() }}</h3>
            <h3>Вебинар: <a href="{{ schedule.webinar_url }}">{{ schedule.webinar_url }}</a></h3>
            <h3>Запись вебинара: <a target="_blank" href="{{ schedule.webinar_record }}">{{ schedule.webinar_record }}</a></h3>
            <h3>Файлы:</h3>
            <ul>
                {% for file in schedule.getFiles()  %}
                    <li><a href="{{ file.url }}">{{ file.name }}</a></li>
                {% endfor %}
            </ul>
            <h3>Загрузить домашнее задание:</h3>
            <form action="/home/uploadHomeWork" enctype="multipart/form-data" method="POST">
                {{ csrf_field() }}
                <input type="file" name="file">
                <input type="hidden" name="schedule_id" value="{{ schedule.id }}">
                <button type="submit" class="btn btn-success">Загрузить</button>
            </form>
        </div>
    </div>
{% endblock %}