{% extends "layouts/admin/main.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="studyCreate" action="/admin/packets/create/{{ packet.id is defined? packet.id:'' }}" method="POST">
                    {% for error in errors.all() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    {{ csrf_field() }}
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputTitle" class="sr-only">Название</label>
                            <input type="text"
                                   id="inputTitle"
                                   class="form-control"
                                   value="{{ old('title')?old('title'):(packet.title is defined ? packet.title) }}"
                                   placeholder="Название"
                                   required autofocus
                                   name="title">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputDescribe" class="sr-only">Описание</label>
                            <textarea type="text"
                                   id="inputDescribe"
                                   class="form-control"
                                   placeholder="Описание"
                                   required autofocus
                                   name="describe">{{ old('describe')?old('describe'):(packet.describe is defined ? packet.describe) }}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputPrice" class="sr-only">Цена</label>
                            <input type="text"
                                   id="inputPrice"
                                   class="form-control"
                                   value="{{ old('price')?old('price'):(packet.price is defined ? packet.price) }}"
                                   placeholder="Цена"
                                   required autofocus
                                   name="price">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-lg btn-primary btn-block"
                                    type="submit">{{ packet is defined ?'Изменить':'Создать' }}</button>
                        </div>
                    </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}