{% extends "layouts/admin/main.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="studyCreate" action="/admin/packets/fill/{{ packet.id }}" method="POST">
                    {{ dump() }}
                    {{ dump(packet.studies) }}
                    {% for error in errors.all() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    {{ csrf_field() }}
                    <div class="row">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Занятие</th>
                                    <th>Время</th>
                                    <th>Возраст</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for study in studies %}
                                    <tr>
                                        <td>
                                            <input data-js="check-study" type="checkbox" name="studies[]" value="{{ study.id }}">
                                        </td>
                                        <td>
                                            {{ study.title }}
                                        </td>
                                        <td>
                                            <input class="form-control" disabled type="text" name="time[{{ study.id }}]" value=""/>
                                        </td>
                                        <td>
                                            <input class="form-control" disabled type="text" name="ages[{{ study.id }}]" value="">
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-lg btn-primary btn-block"
                                    type="submit">{{ packet is defined ?'Изменить':'Создать' }}</button>
                        </div>
                    </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}