{% extends "layouts/admin/main.twig" %}
{% block content %}
    {% if session('error') %}
        <div class="alert alert-danger" role="alert">{{ session('error') }}</div>
    {% endif %}
    {% if session('success') %}
        <div class="alert alert-success" role="alert">{{ session('success') }}</div>
    {% endif %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Цена</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if packets|length == 0 %}
            <tr>
                <td colspan="5">Занятия не найдены</td>
            </tr>
        {% else %}
            {% for packet in packets %}
                <tr>
                    <td>{{ packet.id }}</td>
                    <td>{{ packet.title }}</td>
                    <td>{{ packet.describe }}</td>
                    <td>{{ packet.price }}</td>
                    <td><a href="/admin/packets/create/{{ packet.id }}" class="btn btn-success">Редактировать</a>
                        <a href="/admin/packets/fill/{{ packet.id }}" class="btn btn-info">Изменить занятия</a>
                        <a href="/admin/packets/delete/{{ packet.id }}" class="btn btn-danger">Удалить</a></td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {{ studies.links()|raw }}
{% endblock %}