{% extends "layouts/user/main.twig" %}
{% block content %}
    {% if session('error') %}
        <div class="alert alert-danger" role="alert">{{ session('error') }}</div>
    {% endif %}
    {% if session('success') %}
        <div class="alert alert-success" role="alert">{{ session('success') }}</div>
    {% endif %}
    <form action="/home/stocks/buy/{{ stock.id }}" method="POST">
    <h1>Акции компании "{{ stock.title }}"</h1>
    <h2>Цена за 1: {{ stock.price }}</h2>
    <h2><input id="count" class="form-control" name="count" type="number" placeholder="Количество" required/></h2>
    <h2>Итого: <span id="sum">0</span></h2>
    <button type="submit" id="send" class="btn btn-success">Купить</button>
    {{ csrf_field() }}
    </form>
    <input type="hidden" id="price" value="{{ stock.price }}"/>
    <input type="hidden" id="balance" value="{{ user.balance }}"/>
{% endblock %}

{% block scripts %}
    <script src="/js/buystocks.js" type="text/javascript"></script>
{% endblock %}