{% extends "layouts/user/main.twig" %}
{% block content %}
    {% if session('error') %}
        <div class="alert alert-danger" role="alert">{{ session('error') }}</div>
    {% endif %}
    {% if session('success') %}
        <div class="alert alert-success" role="alert">{{ session('success') }}</div>
    {% endif %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Название</th>
            <th>Цена</th>
            <th>Количество</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if stocks|length == 0 %}
            <tr>
                <td colspan="5">Типы вкладов не найдены</td>
            </tr>
        {% else %}
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.stock.title }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.cnt }}</td>
                    <td>
                        <a href="/home/stocks/sell/{{ stock.id }}" class="btn btn-success" type="submit">Продать</a>
                    </tr>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {{ stocks.links()|raw }}
{% endblock %}