{% extends "layouts/admin/main.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="studyCreate" action="/admin/schedule/create/{{ schedule.id is defined? schedule.id:'' }}" method="POST">
                    {% for error in errors.all() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    {{ csrf_field() }}
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputStudy" class="sr-only">Занятие</label>
                            <select name="study" id="inputStudy" class="form-control">
                                {% for study in studies %}
                                    <option value="{{ study.id }}">{{ study.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputAge" class="sr-only">Возраст</label>
                            <input type="text"
                                   id="inputAge"
                                   class="form-control"
                                   value="{{ old('age')?old('age'):(schedule.age is defined ? schedule.age) }}"
                                   placeholder="Возраст"
                                   required autofocus
                                   name="age">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputDate" class="sr-only">Дата</label>
                            <input type="text"
                                   id="inputDate"
                                   class="form-control"
                                   value="{{ old('date')?old('date'):(schedule.date is defined ? schedule.date)|date('d-m-Y h:m') }}"
                                   placeholder="Дата"
                                   required autofocus
                                   name="date">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputUrl" class="sr-only">Ссылка на запись</label>
                            <input type="text"
                                   id="inputUrl"
                                   class="form-control"
                                   value="{{ old('age')?old('age'):(schedule.webinar_record is defined ? schedule.webinar_record) }}"
                                   placeholder="Ссылка на запись"
                                   required autofocus
                                   name="url">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-lg btn-primary btn-block"
                                    type="submit">{{ study is defined ?'Изменить':'Создать' }}</button>
                        </div>
                    </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}