{% extends "layouts/admin/main.twig" %}
{% block content %}
    {% if session('error') %}
        <div class="alert alert-danger" role="alert">{{ session('error') }}</div>
    {% endif %}
    {% if session('success') %}
        <div class="alert alert-success" role="alert">{{ session('success') }}</div>
    {% endif %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Возраст</th>
            <th>Дата</th>
            <th>Запись вебинара</th>
            <th>Файлы к вебинару</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if studies|length == 0 %}
            <tr>
                <td colspan="5">Занятия не найдены</td>
            </tr>
        {% else %}
            {% for study in studies %}
                <tr>
                    <td>{{ study.id }}</td>
                    <td>{{ study.study.title }}</td>
                    <td>{{ study.age }}</td>
                    <td>{{ study.date|date('d-m-Y h:m') }}</td>
                    <td>{{ study.webinar_record?study.webinar_record:'Пока нет' }}</td>
                    <td>
                        <ul>
                        {% for file in study.getFiles() %}
                            <li><a href="{{ file.url }}" target="_blank">{{ file.name }}</a></li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td><a href="/admin/schedule/create/{{ study.id }}" class="btn btn-success">Редактировать</a>
                        <a href="/admin/schedule/delete/{{ study.id }}" class="btn btn-danger">Удалить</a>
                        <a href="#" data-js="upload" data-scheludeid="{{ study.id }}" class="btn btn-danger">Добавить файл</a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {{ studies.links()|raw }}
    <div class="modal fade" id="fileUpload" style="display:none;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="width:500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <label class="control-label">Select File</label>
                    <input id="files" type="file" multiple name="files[]">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block css %}
    <link href="/css/fileinput.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block scripts %}
    <script src="/js/fileinput.js"></script>
{% endblock %}