{% extends "layouts/admin/main.twig" %}
{% block content %}
    {% if session('error') %}
        <div class="alert alert-danger" role="alert">{{ session('error') }}</div>
    {% endif %}
    {% if session('success') %}
        <div class="alert alert-success" role="alert">{{ session('success') }}</div>
    {% endif %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Код</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if codes|length == 0 %}
                <tr>
                    <td colspan="3">Коды не найдены</td>
                </tr>
            {% else %}
                {% for code in codes %}
                    <tr>
                        <td>{{ code.id }}</td>
                        <td>{{ code.code }}</td>
                        <td><a href="/admin/regcode/delete/{{ code.id }}" class="btn">Удалить</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {{ codes.links()|raw }}
{% endblock %}