{% extends "layouts/admin/main.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="depositType form-horizontal"
                      action="{{ route('admin/settings') }}" method="POST">
                    {% if session('success') %}
                        <div class="alert alert-success" role="alert">{{ session('success') }}</div>
                    {% endif %}
                    {% if error %}
                        <ul>
                            {% for error in errors.all() %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ csrf_field() }}
                    <div class="form-group">
                        <label for="inputTitle" class="col-sm-2 control-label">Почта</label>
                        <div class="col-sm-6">
                            <input type="text"
                                   id="inputTitle"
                                   class="form-control"
                                   value="{{ old('email')?old('email'):(settings.email is defined ? settings.email) }}"
                                   placeholder="Email"
                                   required autofocus
                                   name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-6">
                            <button class="btn btn-lg btn-primary btn-block"
                                    type="submit">Изменить</button>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}