{% extends "layouts/admin/main.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="depositType form-horizontal"
                      action="/admin/teachers" method="POST">
                    {% if session('success') %}
                        <div class="alert alert-success" role="alert">{{ session('success') }}</div>
                    {% endif %}
                    {% if error %}
                        <ul>
                            {% for error in errors.all() %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ csrf_field() }}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Занятие</th>
                                <th>Email переподователя</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for study in studies %}
                            <tr><td>{{ study.title }}</td>
                            <td><input
                                    type="text"
                                    id="emailField"
                                    class="form-control"
                                    value="{{ study.teacher_email }}"
                                    placeholder="Email"
                                    required
                                    name="email[{{ study.id }}]"/>
                            </td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-6">
                            <button class="btn btn-lg btn-primary btn-block"
                                    type="submit">Изменить</button>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}