{% extends "layouts/user/main.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="depositType"
                      action="{{ route('home/send') }}" method="POST">
                    {% if session('success') %}
                        <div class="alert alert-success" role="alert">{{ session('success') }}</div>
                    {% endif %}
                    {% if error %}
                        <ul>
                            {% for error in errors.all() %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ csrf_field() }}
                    <div class="form-group">
                        <label for="inputTitle">Сообщение</label>
                        <textarea class="form-control" rows="5" name="message"></textarea>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Отправить</button>

                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}