{% extends "layouts/user/main.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1>Открыть вклад "{{ depositType.title }}"</h1>
                <form class="depositType"
                      action="/home/deposit/create" method="POST">
                    <ul>
                    {% for error in errors.all() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                    {{ csrf_field() }}
                    <div class="row">
                        <div class="col-md-6">
                            <h2>Условия вклада</h2>
                            <ul class="list-unstyled">
                                <li>Срок: {{ depositType.period }} дней</li>
                                <li>Ставка: {{ depositType.tax }} %</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputAmount" class="sr-only">Сумма</label>
                            <input type="text"
                                   id="inputAmount"
                                   class="form-control"
                                   value="{{ old('amount')}}"
                                   placeholder="Сумма"
                                   required autofocus
                                   name="amount">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="hidden" name="type" value="{{ depositType.id }}"/>
                            <button class="btn btn-lg btn-primary btn-block"
                                    type="submit">Разместить</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}