{% extends "layouts/user/main.twig" %}
{% block content %}
    {% if session('error') %}
        <div class="alert alert-danger" role="alert">{{ session('error') }}</div>
    {% endif %}
    {% if session('success') %}
        <div class="alert alert-success" role="alert">{{ session('success') }}</div>
    {% endif %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Название</th>
            <th>Сумма</th>
            <th>Ставка</th>
            <th>Дата</th>
            <th>Дата закрытия</th>
        </tr>
        </thead>
        <tbody>
        {% if deposits|length == 0 %}
            <tr>
                <td colspan="5">Вклады не найдены</td>
            </tr>
        {% else %}
            {% for deposit in deposits %}
                <tr>
                    <td>{{ deposit.depositType.title }}</td>
                    <td>{{ deposit.amount }}</td>
                    <td>{{ deposit.depositType.tax }} %</td>
                    <td>{{ deposit.start_date }}</td>
                    <td>{{ deposit.finish_date }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {{ deposits.links()|raw }}
{% endblock %}


