{% extends "layouts/user/main.twig" %}
{% block content %}
    {% if session('error') %}
        <div class="alert alert-danger" role="alert">{{ session('error') }}</div>
    {% endif %}
    {% if session('success') %}
        <div class="alert alert-success" role="alert">{{ session('success') }}</div>
    {% endif %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Название</th>
            <th>Срок (в днях)</th>
            <th>Ставка</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if deposits|length == 0 %}
            <tr>
                <td colspan="5">Типы вкладов не найдены</td>
            </tr>
        {% else %}
            {% for type in deposits %}
                <tr>
                    <td>{{ type.title }}</td>
                    <td>{{ type.period }}</td>
                    <td>{{ type.tax }} %</td>
                    <td><a href="/home/deposit/create/{{ type.id }}" class="btn btn-success" type="submit">Разместить</a>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {{ deposits.links()|raw }}
{% endblock %}