{% extends "layouts/admin/main.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="depositType"
                      action="/admin/depositType/create/{{ depositType.id is defined? depositType.id:'' }}" method="POST">
                    {% for error in errors.all() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    {{ csrf_field() }}
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputTitle" class="sr-only">Название</label>
                            <input type="text"
                                   id="inputTitle"
                                   class="form-control"
                                   value="{{ old('email')?old('email'):(depositType.title is defined ? depositType.title) }}"
                                   placeholder="Название"
                                   required autofocus
                                   name="title">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputPeriod" class="sr-only">Период (в днях)</label>
                            <input type="text"
                                   id="inputPeriod"
                                   class="form-control"
                                   value="{{ old('period')?old('period'):(depositType.period is defined ? depositType.period) }}"
                                   placeholder="Период (в днях)"
                                   required autofocus
                                   name="period">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputTax" class="sr-only">Ставка</label>
                            <input type="text"
                                   id="inputTax"
                                   class="form-control"
                                   value="{{ old('tax')?old('tax'):(depositType.tax is defined ? depositType.tax) }}"
                                   placeholder="Ставка"
                                   required autofocus
                                   name="tax">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-lg btn-primary btn-block"
                                    type="submit">{{ depositType is defined ?'Изменить':'Создать' }}</button>
                        </div>
                    </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}