{% extends "layouts/main.twig" %}
{% block content %}
    <form class="form-signin" action="/login" method="POST">
    {% if session('error') %}
        <div class="alert alert-danger" role="alert">{{ session('error') }}</div>
    {% endif %}
    {{ csrf_field() }}
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" value="{{ old('email') }}" placeholder="Email" required autofocus name="email">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required name="password">
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Запомнить меня
        </label>
    </div>
        <div style="padding-top: 10px;">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        </div>
        <div style="padding-top: 10px;">
            <a href="/reg" class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</a>
        </div>
</form>
{% endblock %}