{% extends "layouts/main.twig" %}
{% block content %}
<form class="form-signin" action="/reg" method="POST">
    {% for error in errors.all() %}
        <li>{{ error }}</li>
    {% endfor %}
    {{ csrf_field() }}
    <div class="row">
        <div class="col-md-12">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" value="{{ old('email') }}" placeholder="Email" required autofocus name="email">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label for="inputFirstName" class="sr-only">Имя</label>
            <input type="text" id="inputFirstName" class="form-control" value="{{ old('first_name') }}" placeholder="Имя" required autofocus name="first_name">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="inputLastName" class="sr-only">Фамилия</label>
            <input type="text" id="inputLastName" class="form-control" value="{{ old('last_name') }}" placeholder="Фамилия" required autofocus name="last_name">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <input type="text" id="inputBirthday" class="form-control" name="birthday" value="{{ old('birthday') }}" placeholder="Дата рождения" required autofocus/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="inputCode" class="sr-only">Код</label>
            <input type="text" id="inputCode" class="form-control" value="{{ old('code') }}" placeholder="Код" required autofocus name="code">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required name="password">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label for="inputPasswordConfirm" class="sr-only">Password</label>
            <input type="password" id="inputPasswordConfirm" class="form-control" placeholder="Подтвердите ароль" required name="password_confirmation">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        </div>
    </div>
</form>
{% endblock %}