{% extends "layouts/admin/main.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="studyCreate" action="/admin/stock/add/{{ company.id is defined? company.id:'' }}" method="POST">
                    {% for error in errors.all() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    {{ csrf_field() }}
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputTitle" class="sr-only">Название</label>
                            <input type="text"
                                   id="inputTitle"
                                   class="form-control"
                                   value="{{ old('title')?old('title'):(company.title is defined ? company.title) }}"
                                   placeholder="Название"
                                   required autofocus
                                   name="title">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputPrice" class="sr-only">Цена</label>
                            <input type="text"
                                      id="inputPrice"
                                      class="form-control"
                                      placeholder="Цена"
                                      required autofocus
                                        value="{{ old('price')?old('price'):(company.price is defined ? company.price) }}"
                                      name="price">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputMinPrice" class="sr-only">Минимальная цена</label>
                            <input type="text"
                                   id="inputMinPrice"
                                   class="form-control"
                                   value="{{ old('min_price')?old('min_price'):(company.min_price is defined ? company.min_price) }}"
                                   placeholder="Минимальная цена"
                                   required autofocus
                                   name="min_price">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-lg btn-primary btn-block"
                                    type="submit">{{ company is defined ?'Изменить':'Создать' }}</button>
                        </div>
                    </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}