{% extends "layouts/admin/main.twig" %}
{% block content %}
    {% if session('error') %}
        <div class="alert alert-danger" role="alert">{{ session('error') }}</div>
    {% endif %}
    {% if session('success') %}
        <div class="alert alert-success" role="alert">{{ session('success') }}</div>
    {% endif %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Минимальная цена</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if companies|length == 0 %}
            <tr>
                <td colspan="5">Компании не найдены</td>
            </tr>
        {% else %}
            {% for company in companies %}
                <tr>
                    <td>{{ company.id }}</td>
                    <td>{{ company.title }}</td>
                    <td>{{ company.price }}</td>
                    <td>{{ company.min_price }}</td>
                    <td><a href="/admin/stock/add/{{ company.id }}" class="btn btn-success">Редактировать</a>
                        <a href="/admin/stock/delete/{{ company.id }}" class="btn btn-danger">Удалить</a></td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {{ studies.links()|raw }}
{% endblock %}