{% extends "layouts/admin/main.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="studyCreate" action="/admin/users/edit/{{ user.id }}" method="POST">
                    {% for error in errors.all() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    {{ csrf_field() }}
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputLastName" class="sr-only">Фамилия</label>
                            <input type="text"
                                   id="inputLastName"
                                   class="form-control"
                                   value="{{ old('last_name')?old('last_name'):user.last_name }}"
                                   placeholder="Фамиилия"
                                   required autofocus
                                   name="last_name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputFirstName" class="sr-only">Имя</label>
                            <input type="text"
                                   id="inputFirstName"
                                   class="form-control"
                                   value="{{ old('first_name')?old('first_name'):user.first_name }}"
                                   placeholder="Имя"
                                   required autofocus
                                   name="first_name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputEmail" class="sr-only">Email</label>
                            <input type="text"
                                   id="inputEmail"
                                   class="form-control"
                                   value="{{ old('email')?old('email'):user.email }}"
                                   placeholder="Email"
                                   required autofocus
                                   name="email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputBirthdate" class="sr-only">Дата рождения</label>
                            <input type="text"
                                   id="inputBirthdate"
                                   class="form-control"
                                   value="{{ old('birthdate')?old('birthdate'):user.birthdate }}"
                                   placeholder="Дата рождения"
                                   required autofocus
                                   name="birthday">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputBalance" class="sr-only">Баланс</label>
                            <input type="text"
                                   id="inputBalance"
                                   class="form-control"
                                   value="{{ old('balance')?old('balance'):user.balance }}"
                                   placeholder="Баланс"
                                   required autofocus
                                   name="balance">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputPacket" class="sr-only">Пакет</label>
                            <select id="inputPacket" class="form-control" name="packet">
                                    <option>Выберите пакет</option>
                                        {% for packet in packets %}
                                            <option value="{{ packet.id }}"
                                                    {% if old('packet') %}
                                                        {{ old('packet') == packet.id?'selected' }}
                                                    {% else %}
                                                        {{ user.packet.first.id == packet.id?'selected' }}
                                                    {% endif %}
                                            >{{ packet.title }}</option>
                                        {% endfor %}
                                   </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-lg btn-primary btn-block"
                                    type="submit">{{ study is defined ?'Изменить':'Создать' }}</button>
                        </div>
                    </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}