{% extends "layouts/admin/main.twig" %}
{% block content %}
    {% if session('error') %}
        <div class="alert alert-danger" role="alert">{{ session('error') }}</div>
    {% endif %}
    {% if session('success') %}
        <div class="alert alert-success" role="alert">{{ session('success') }}</div>
    {% endif %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Фамилия Имя</th>
            <th>Почта</th>
            <th>Дата рождения</th>
            <th>Пакет</th>
            <th>Баланс</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if users|length == 0 %}
            <tr>
                <td colspan="5">Ученики не найдены</td>
            </tr>
        {% else %}
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.last_name }} {{ user.first_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.birthdate }}</td>
                    <td>{{ user.packet.title }}</td>
                    <td>{{ user.balance }}</td>
                    <td>
                        <a href="/admin/userStudy/{{ user.id }}" class="btn btn-danger">Занятия</a>
                        <a href="/admin/users/edit/{{ user.id }}" class="btn btn-success">Редактировать</a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {{ studies.links()|raw }}
{% endblock %}