{% extends "layouts/admin/main.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="studyCreate" action="/admin/userStudy/{{ user.id }}" method="POST">
                    {{ csrf_field() }}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Название</th>
                                <th>Возраст</th>
                                <th>Дата</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for study in user.packet.studies %}
                            {% for schedule in study.study.schedule %}
                                <tr>
                                    <td><input
                                                {% if user.getMySchedulesId()[study.id] %}
                                                    checked
                                                {% endif %}
                                                type="checkbox" name="studies[]" value="{{ study.id }}"></td>
                                    <td>{{ study.study.title }}</td>
                                    <td>{{ schedule.age }}</td>
                                    <td>{{ schedule.date|date('d-m-y h:m') }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-default">Сохранить</button>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}