<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="_token" content="{{ csrf_token() }}"/>
    <title>{{ title|default('Ingame-kids.com') }}</title>
    <link rel="stylesheet" href="{{ elixir('css/app.css') }}">

    {% block css %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/admin">Главная</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Регкоды<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/regcode/list">Список</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Вклады<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/depositType/create">Создать вклад</a></li>
                        <li><a href="/admin/depositType/list">Список вкладов</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Занятия<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/studies/create">Создать занятие</a></li>
                        <li><a href="/admin/studies/list">Список занятий</a></li>
                        <li><a href="/admin/packets/create">Создать пакет</a></li>
                        <li><a href="/admin/packets/list">Список пакетов</a></li>
                        <li><a href="/admin/schedule/create">Добавить в расписание</a></li>
                        <li><a href="/admin/schedule/list">Расписание</a></li>
                        <li><a href="/admin/teachers">Email учителей</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ученики<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/users/list">Список</a></li>
                        {#<li><a href="/admin/users/edit">Список занятий</a></li>
                        {#<li><a href="/admin/packets/create">Создать пакет</a></li>
                        <li><a href="/admin/packets/list">Список пакетов</a></li>#}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Акции<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/stock/add">Добавить компанию</a></li>
                        <li><a href="/admin/stock/list">Список</a></li>
                        {#<li><a href="/admin/packets/create">Создать пакет</a></li>
                        <li><a href="/admin/packets/list">Список пакетов</a></li>#}
                    </ul>
                <li><a href="{{ route('admin/settings') }}">Настройки</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div> <!-- /container -->
</body>
<script src="{{ elixir('js/app.js') }}"></script>
<script src="/js/bootstrap.module.js"></script>
<script src="{{ elixir('js/all.js') }}"></script>
{% block scripts %}
{% endblock %}
</html>
