{% extends "layouts/admin/main.twig" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="studyCreate" action="/admin/studies/create/{{ study.id is defined? study.id:'' }}" method="POST">
                    {% for error in errors.all() %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    {{ csrf_field() }}
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputTitle" class="sr-only">Название</label>
                            <input type="text"
                                   id="inputTitle"
                                   class="form-control"
                                   value="{{ old('title')?old('title'):(study.title is defined ? study.title) }}"
                                   placeholder="Название"
                                   required autofocus
                                   name="title">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputUrl" class="sr-only">Ссылка на вебинар</label>
                            <input type="text"
                                   id="inputUrl"
                                   class="form-control"
                                   value="{{ old('url')?old('url'):(study.webinar_url is defined ? study.webinar_url) }}"
                                   placeholder="Ссылка на вебинар"
                                   required autofocus
                                   name="url">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-lg btn-primary btn-block"
                                    type="submit">{{ study is defined ?'Изменить':'Создать' }}</button>
                        </div>
                    </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}