{% extends "layouts/admin/main.twig" %}
{% block content %}
    {% if session('error') %}
        <div class="alert alert-danger" role="alert">{{ session('error') }}</div>
    {% endif %}
    {% if session('success') %}
        <div class="alert alert-success" role="alert">{{ session('success') }}</div>
    {% endif %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if studies|length == 0 %}
            <tr>
                <td colspan="5">Занятия не найдены</td>
            </tr>
        {% else %}
            {% for study in studies %}
                <tr>
                    <td>{{ study.id }}</td>
                    <td>{{ study.title }}</td>
                    <td>{{ study.webinar_url }}</td>
                    <td><a href="/admin/studies/create/{{ study.id }}" class="btn btn-success">Редактировать</a>
                        <a href="/admin/studies/delete/{{ study.id }}" class="btn btn-danger">Удалить</a></td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    {{ studies.links()|raw }}
{% endblock %}