<html>
<body>
<table>
    <tr><td>Сообщение от пользователя {{ user.last_name }} {{ user.first_name }} ({{ user.email }})s:</td></tr>
    <tr><Td>Домашнее задание к занятию: "{{  schedule.study.title }}" от  {{ schedule.getFormatedDate() }}</Td></tr>
</table>
</body>
</html>