<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ title|default('Ingame-kids.com') }}</title>
    <link rel="stylesheet" href="{{ elixir('css/app.css') }}">
</head>

<body>

<div class="container">
    {% block content %}{% endblock %}
</div> <!-- /container -->
</body>
<script src="{{ elixir('js/all.js') }}"></script>
</html>
