<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ title|default('Ingame-kids.com') }}</title>
    <link rel="stylesheet" href="{{ elixir('css/app.css') }}">

     {% block styles %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/home">Главная</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Вклады<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/deposit/mydeposit">Мои вклады</a></li>
                        <li><a href="/home/deposit/list">Доступные вклады</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Акции<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/home/stocks/list">Список</a></li>
                        <li><a href="/home/stocks/my">Мои</a></li>
                    </ul>
                </li>
                <li><a href="{{ route('home/send') }}">Отправить сообщение</a></li>
                <li><a href="{{ route('home/calendar') }}">Расписание</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>Баланс: {{ auth_user().balance }}</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div> <!-- /container -->
</body>
<script src="{{ elixir('js/app.js') }}"></script>
<script src="/js/bootstrap.module.js"></script>
<script src="{{ elixir('js/all.js') }}"></script>
{% block scripts %}{% endblock %}
</html>
